.eyes {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.eye {
    width: 200px;
    height: 200px;
}

/* eyelids */
.lid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    pointer-events: none;
}

.lid.top {
    top: -100%;
}

.lid.bottom {
    bottom: -100%;
}